/**
 * Created by Mateusz on 05.02.2018.
 */
.THIS {
}
.THIS .resultSquare {
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
}
.THIS .productImage {
    max-height: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
}

.THIS .star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
}
.THIS .star-icon.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}
.THIS .star-icon.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .THIS .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}